<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  {% if title %}
    {{ title }} – {{ description }}
  {% else %}
    {{ metadata.title }}
  {% endif %}
  </title>
<meta name="Description" content="{{ renderData.description or description or metadata.description }}">
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
<link rel="manifest" href="/static/img/site.webmanifest">
<link rel="shortcut icon" href="/static/img/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/img/browserconfig.xml">
<meta name="theme-color" content="#111111">
<meta property="og:title" content="{{ metadata.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ metadata.url }}" />
<meta property="og:image" content="{{ metadata.url }}/static/img/OG-Image.jpg" />
<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/styles.css">