<!doctype html>
<html lang="en">
  <head>
    {% include 'head.njk' %}
  </head>
  <body class="bg-stone-200 font-sans color-stone-900 antialiased">          
    <main class="template-{{ templateClass }} container mx-auto p-4">
      {{ content | safe }}    
    </main>    

    <script src="/main.js"></script>
              
  </body>
</html>


